 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>오시는 길</h2>
                    <hr class="star-light">
                    <p>충남 아산시 순천향로 624</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>코로나로 인해 지친 여러분의 마음을 조금이나마 뻥~! 뚫리게 하고싶어 여행하시는 기분으로 조금 먼 곳에서 합니다. 초대에 응하지 못하시더라도 마음으로 응원해주시고 축하해주시면 감사하겠습니다.</p>
                </div>
                <div class="col-lg-4">
                    <p>오시는 길은 아래 버튼을 누르시면 바로 주소링크로 연결됩니다! 나들이, 데이트 하시는 기분으로 오셔서 맘껏 즐기다 가세요! </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="http://naver.me/GyeIA1Cg" class="btn btn-lg btn-outline">
                        <i class="fa fa-map-marked-alt"></i> 네이버 지도보기
                    </a>
                </div>
            </div>
        </div>
    </section>
