<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <img class="img-responsive" src="img/wedding-couple.png" alt="profile-pic" />
        <div class="intro-text">
          <span class="name">{{ site.title }}</span>
          <h2>결혼합니다</h2>
          <hr class="star-light" />
          <span class="skills">{{ site.skills }}</span>
          <br><br><br>
          <p id="bold"><strong>신OO♥김순자</strong>의 아들 <strong>신랑 신원균</strong></h4></p>
          <p id="bold"><strong>채옥묵♥배정숙</strong>의 딸 <strong>신부 채진영</strong></h4></p>
        </div>
      </div>
    </div>
  </div>
</header>
