 <!-- 결혼합니다 Section -->
    <section class="success" id="info">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>축하메세지</h2><br>
                </div>                   
            </div>
            <div class="row">
                <div class="col-lg-6 text-center">
                <p style="font-size: 24px;">신랑&nbsp;&nbsp; <strong>신원균</strong></p><br>
                <ul class="list-inline" style="display:inline-block;">
                    <li><a href="tel:010-3385-1652"><img src="/img/icon/phone-call.png" width="27"></a></li>
                    <li><a href="sms:010-3385-1652"><img src="/img/icon/mail.png" width="27"></a></li>
                </ul>
            </div>
            <div class="col-lg-6 text-center">
                <p style="font-size: 24px;">신부&nbsp;&nbsp; <strong>채진영</strong></p><br>
                <ul class="list-inline" style="display:inline-block;">
                    <li><a href="tel:010-3255-8134"><img src="/img/icon/phone-call.png" width="27"></a></li>
                    <li><a href="sms:010-3255-8134"><img src="/img/icon/mail.png" width="27"></a></li>
                </ul>
                </div>
            </div>
            <hr class="bg-white">
            <div class="row">
                <div class="col-lg-6 text-center" style="padding-block: 12px;">
                    <h4>신랑측 혼주</h4><br>
                    <span style="font-size: 20px;">아버지</span> <span style="font-size: 20px;">신광희</span>&nbsp;&nbsp;
                    <ul class="list-inline" style="display:inline-block;">
                        <li><a href="tel:010-2620-1779"><img src="/img/icon/phone-call.png" width="27"></a></li>
                        <li><a href="sms:010-2620-1779"><img src="/img/icon/mail.png" width="27"></a></li>
                    </ul><br>
                    <span style="font-size: 20px;">어머니</span> <span style="font-size: 20px;">김순자</span>&nbsp;&nbsp;
                    <ul class="list-inline" style="display:inline-block;">
                        <li><a href="tel:010-2620-1779"><img src="/img/icon/phone-call.png" width="27"></a></li>
                        <li><a href="sms:010-2620-1779"><img src="/img/icon/mail.png" width="27"></a></li>
                    </ul>
                </div>
                <div class="col-lg-6 text-center" style="padding-block: 12px;">
                    <h4>신부측 혼주</h4><br>
                    <span style="font-size: 20px;">아버지</span> <span style="font-size: 20px;">채옥묵</span>&nbsp;&nbsp;
                    <ul class="list-inline" style="display:inline-block;">
                        <li><a href="tel:010-3671-0134"><img src="/img/icon/phone-call.png" width="27"></a></li>
                        <li><a href="sms:010-3671-0134"><img src="/img/icon/mail.png" width="27"></a></li>
                    </ul><br>
                    <span style="font-size: 20px;">어머니</span> <span style="font-size: 20px;">배정숙</span>&nbsp;&nbsp;
                    <ul class="list-inline" style="display:inline-block;">
                        <li><a href="tel:010-2257-6038"><img src="/img/icon/phone-call.png" width="27"></a></li>
                        <li><a href="sms:010-2257-6038"><img src="/img/icon/mail.png" width="27"></a></li>
                    </ul>
                </div>

            </div>
            </div>
           
        </div>

    </section>
