 <!-- Contact Section -->
    <section id="invitation">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>드디어</h2>
                    <p>그날이 왔습니다!</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>신랑 신원균</p>
                    <img src="">
                </div>
                <div class="col-lg-4">
                   <p> 신부 채진영</p>
                   <img src="">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                   
                </div>
            </div>
        </div>
    </section>
